@import url('https://fonts.googleapis.com/css2?family=Basic&family=Cutive&family=DM+Serif+Text&family=Days+One&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     

}

:root{
    --font-titulo: 'DM Serif Text', serif;
    --font-subtitulo: 'Days One', sans-serif;
    --font-textbasic: 'Basic', sans-serif;
    --font-tituloexperience: 'Cutive', serif; 

    --cor-data: #E5A92A;
    --cor-titulos: #B27C09;
    --cor-texto: #828282;   
}


body{
    overflow-x: hidden;
    background-color:#101010;    

    margin: 0;
    height:100vh; 
    
    padding:0;

    display:grid;
    grid-template-areas: 
    "header header"
    "imagem banner"
    "contact experience"
    "education experience"
    "skills experience"
    "footer footer";

    grid-template-columns: 427px 1fr;    
    grid-template-rows: 50px 539px 525px 345px 425px 100px;
}

/* p{
    font-size:0.8rem;
} */

#header{
        grid-area: header;
       background-color:#242424;
} 

#imagem{
grid-area: imagem;
}

.img-wrapper img{
    width: 100%;
    height:100%;
    object-fit: cover;
    
    z-index: 1; 
}

.img-wrapper p{
    color: #FFFFFF;
}


.box-profile{
    width:100%;
    height:165px;
    
    background-color: #C6A429;

    position: relative;
    bottom: 228px;
    opacity: .73;
 
    z-index:2 ;
}


.professional{
    position:absolute;
    bottom: 2rem;
    right: 1rem;        
    font-family: var(--font-subtitulo);
    letter-spacing: .15rem;    
    z-index: 3;
}


.profile{
    position: absolute;
    bottom:1rem;
    right:1rem;
    
    font-family: var(--font-subtitulo);
    letter-spacing: .15rem; 
    z-index: 3;
}

.bloco{
    position: absolute;
    bottom: 1.33rem;
    left: 11.5rem;

    width:48px;
    height:13px;
    background-color:#FFFFFF;    
    z-index: 3;
}


#banner{
    grid-area: banner;
    background-color:#484848;   
}


.nome{
    margin-top: 62px;
    margin-left:2rem;
    margin-bottom: 0px;
    padding:0px;
    line-height:2rem;

    font-family: var(--font-titulo); 
    font-size:2.5rem ; 
    color: #FFFFFF;  
    letter-spacing: .25rem;     
}


.sobrenome{
    margin-top:0px;
    padding:0px;
    margin-left: 2rem;
    font-size:2.5rem;
    color: #FFFFFF;
    letter-spacing: .15rem; 
    line-height: 3rem;
}


.developer{   
    margin-top: 10px;
    margin-left: 2rem; 
    /* margin-bottom: 50px; */
    font-family: var(--font-subtitulo);
    font-size:0.8rem;
    color: #FFBC2F;
    background: #101012;
    text-align: center;
    padding: 1rem;
    letter-spacing: .14rem;    

}

.description p{   
    display:flex;
    justify-content: center;
    text-align: center;
    font-size:.9rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px black;
    
    margin-top: 1rem; 
    margin-left: 2rem; 
    padding:3rem;
    font-family: var(--font-textbasic);    
}

.box{
    position:relative;
    bottom:-126px; 
    width:100%;
    height:166px;
    background-color: #FFBC2F;    
}



#contact{
    grid-area: contact;
    background-color:#242424;
}
 

.sessao-contact{
    background-color: #242424;
    width: 100%;       
}


.sessao-contact h3{
    font-family: var(--font-subtitulo);
    color: #FFBC2F;
    letter-spacing: .15rem;
    font-size: 19px;
    padding-top:2rem;
    padding-bottom: .3rem;
    text-align: right;
    padding-right: 1rem;
    font-weight: 400;
}


.bloco-contact{
    width:41px;
    height:6px;
    background-color:#FFBC2F;
    position: relative;
    left:18.1rem;
    margin-bottom: 2rem;
    
}

.bloco-contact-linha{
    width:365px;
    height:3px;
    background-color:#FFBC2F;
   
    position: relative;
    top:-44px;
    left:0;
    
}

.container-texto{
    text-align: right;
    position: relative;    
    right:4.5rem ;
    bottom:1.5rem;    
}


.container-img{    
    position: relative;

    left: 355px;    
    bottom:18.5rem;    
}

.sessao-contact h4{
    color: #FFFFFF;
    font-family: var(--font-textbasic);
    font-size:0.9rem;  
    margin-top:1.5rem;  

    font-size:0.65rem;
    letter-spacing:.2rem;
    padding-bottom:.3rem;    
}


.sessao-contact p{
    color:var(--cor-titulos);
    font-family: var(--font-textbasic);
    font-size:.8rem;      
}

 .sessao-contact img{
    display: flex;
    padding-bottom:24px;        
} 

a{
    text-decoration: none;
}


#education{
    grid-area: education;
background-color:#363636;
}

.sessao-education {
    width:100%;        
}

.container-education{
    margin-top: 4rem;
 }


 .sessao-education h3{
    background-color: #FFBC2F;
    text-align: right;
    padding: .5rem 1rem; 
    font-family: var(--font-titulo);
    letter-spacing: .15rem;
    }



    .sessao-education div{
        display: flex;       
    }

    .sessao-education p{
        color:#FFFFFF;
        font-size: .8rem;
        padding: .5rem;
        text-align: center;
        padding-top:1rem;
        font-family: var(--font-textbasic);   
    }
    

    .sessao-education img{
        width:80px;
        height:80px;
        padding-right: 1rem;
        padding-top:1rem;
    }    


    .sessao-skills{
        background-color: #242424;
        width: 100%;           
    }
    

#skills{
    grid-area: skills;
    background-color:#242424;
    position:relative;
}

.skills-right {
    margin-left: 2rem;
}

.sessao-skills h3{
    font-family: var(--font-subtitulo);
    color: #FFBC2F;
    letter-spacing: .15rem;
    font-size: 19px;
    padding-top:2rem;
    padding-bottom: .3rem;
    text-align: right;
    padding-right: 1rem;
    font-weight: 400;
}


.container-skills{
    display:flex;
           
    justify-content: center;
    margin-left: 1.5rem;
    margin-top:-1rem;
}


.sessao-skills p{
    color: #FFFFFF;
    font-size: .8rem;
    font-family: var(--font-textbasic);
    padding: 1rem;
    font-weight: 600;
}


.sessao-skills span{
    color: #FFBC2F;
    font-size: 1.4rem;
    font-weight: 600;
}


.span{
    margin-left: 0rem;
}


.html{
    
    position: absolute;
    bottom:14rem;    
}

.css{
    position: absolute;
    bottom:11rem;    
}


.js{
    position: absolute;
    bottom:8rem;    
}

.wp{
    position: absolute;
    bottom:5rem;    
}

.git{
    position: absolute;
    bottom:2rem;    
}


#experience{
    grid-area: experience;
    background-color:#303030;    
}

#article{
    position: relative;
    display:grid;
    grid-template-areas: 
    "left timeline right"
    "left timeline right"
    "left timeline right";

       
    grid-template-columns: 33vw 30px 33vw;
   
}

.separador{
    /* position:relative; */

    width:30vw;
    height: 0;
    margin: 1rem;
    
    border: 1px solid #000000;
}

.separador_left{
  
    width:29vw;
    height: 0;
    margin: 1rem;
    
    border: 1px solid #000000;
}

.left{
    grid-area: left;
    padding: 1rem;
    transform: translatey(9rem);
}

.left h2{
    text-align:right;
}

.left h3{
    text-align:center;
}

.right{
grid-area:right;
/* padding: 1rem; */
}

.right h2{
    text-align: left;
}

.right h3{
    text-align:center;
}

.timeline{
    position: relative;
    top:1rem;
    left:-5rem;
    width: 1100px;
   
    border: 1px solid #FFBC2F;
    transform: rotate(-90deg) translateX(-28rem) translateY(-22rem); 
}



.sessao-experience{ 
    width:100%; 
}


.sessao-experience h2{
    color: var(--cor-data);    
    margin:1rem;
}

.sessao-experience h3{
    color: var(--cor-titulos);
    padding:.3rem;
}


.sessao-experience h4{
    font-family: var(--font-subtitulo);
    color:#FFFFFF;
    letter-spacing: .3rem;
    padding-top:2rem;
    padding-left: 2rem;
    padding-bottom: 5px;
}


.sessao-experience p{
    color:var(--cor-texto);
    text-align: justify;
    padding: .5rem;
    line-height: 1.3rem;
    font-size:.9rem;
    /* margin-bottom: 1rem; */
}





.bloco-experience{
    width:251px;
    height:6px;
    background-color:#FFF;
    margin-left: 2rem;
    margin-bottom: 2rem;    
}    
 
.bloco-experience-linha{
    height:3px;
    background-color:#FFF;
    margin-top:-44px;
    margin-left:2rem;
}


#footer{
    grid-area: footer;
    background-color:#363636;
}


footer{
    position:relative;
    /* margin-top:1rem; */
    padding-top: 1rem;
    width: 100vw;
    height: 4rem;
    background-color: #17181b;
       
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.footer-content p{
    font-family: var(--font-textbasic);
    color:#a7a7a7;
    font-size:.8rem;  
}


.social-list a{
    margin:1rem 1rem;
    color:#a7a7a7;
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;
    list-style-type: none;    
} 




@media only screen and (max-width:1280px){

    #article{

        display: grid;
        grid-template-columns: 30vw 30px 29vw;
    }

    
.separador_left{
  
    width:25vw;
    
}


@media only screen and (max-width:1024px){



body{

    display:grid;
    grid-template-areas: 
    "headerr"
    "imagem banner"
    "contact"
    "education "
    "skills "
    "experience"
    "footer ";

    grid-template-columns: 427px 1fr;    
    grid-template-rows: 50px 539px 525px 345px 425px 100px;

    grid-template-rows: 50px 60vh 60vh 120vh 425px 100px;

}






    #article{
    
        display:grid;
        grid-template-areas: 
        "right"
        "left";
        
               
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

.right h3{
    text-align:left;
    margin-left: 10rem;
}


.timeline{
    display: none;
}

.sessao-experience p {
    padding: .5rem 1rem;
 
}






.description p{
    margin-top: -0.3rem;
    margin-left: 0rem;
    padding-top:2rem;
   
}


.bloco{
left:11.3rem;
bottom: 1.2rem;

}
}



@media only screen and (max-width:768px){
    body{
        display:grid;
        grid-template-areas: "imagem"
                             "banner " 
                             "contact" 
                             "education"
                             "skills"
                             "experience"
                             "footer"; 
        grid-template-columns: 100vw; 
        grid-template-rows: 100vh;
    }

.img-wrapper{
    margin-bottom: -11rem;
}

.box-profile{
    height: 165px;
;
}

.professional{
    font-size:1.5rem;
    padding:.8rem;
}

.profile{
    font-size:1.5rem;
}

.bloco{
    left:24.3rem;
    bottom:1.5rem;
    width:68px;
    height:18px;
}

.description p {
    margin-top: -3.3rem;
    margin-left: 0rem;
    padding-top: 2rem;
    
}

.sessao-contact {
    margin-top: 6rem;

}

.bloco-contact {      
    left: 35.1rem;    
}

.bloco-contact-linha {
    width:710px;
}

.container-img{

    left: 693px;
}

.container-texto-img{
    margin-bottom:-18rem;
}


.container-education {
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.sessao-skills p {
    font-size: .9rem;
    
}













@media only screen and (max-width:360px){
    body{
        grid-template-areas: "imagem"
                             "banner " 
                             "contact" 
                             "education"
                             "skills"
                             "experience"
                             "footer"; 
        grid-template-columns: 100vw; 
        grid-template-rows: 50vh;
    }



    #imagem{
       
    }
    

.container-imagem{
    
}


    .img-wrapper img{
       
    }

    .box-profile{
        
            
    }


    .bloco{
        
    }


.banner{

}

.nome{
    font-size:2rem;
}

.sobrenome{
    font-size:2rem;
}


.box{
    position:relative;
    bottom:-12px; 
    width:100%;
    height: 258px;
    background-color: #FFBC2F;    
}










    
    #article{
        grid-template-areas: "right"
                             "left";
    }


}

    /* .nav-left{
        display:none;

    } */

    /* .container{
        grid-template-areas: "right"
                              "footer";
    } */
