@import url("https://fonts.googleapis.com/css2?family=Basic&family=Cutive&family=DM+Serif+Text&family=Days+One&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-titulo: "DM Serif Text", serif;
  --font-subtitulo: "Days One", sans-serif;
  --font-textbasic: "Basic", sans-serif;
  --font-tituloexperience: "Cutive", serif;

  --cor-data: #e5a92a;
  --cor-titulos: #b27c09;
  --cor-texto: #828282;
}

body {
  /* overflow-x: hidden; */
  background-color: #101010;

  margin: 0;
  height: 100vh;

  padding: 0;

  display: grid;
  grid-template-areas:
    "header header"
    "imagem banner"
    "contact experience"
    "education experience"
    "skills experience"
    "teachers experience" /*extra para atualizações futuras  */
    "footer footer";

  grid-template-columns: 375px 1fr;

  grid-template-rows: 50px 539px 545px 345px 450px 1000px 100px;
}

#header {
  grid-area: header;
  background-color: #242424;
}

#imagem {
  grid-area: imagem;
}

.container-imagem {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;

  /* position: relative; */

  object-fit: cover;
  z-index: 1;
}

.img-wrapper p {
  color: #ffffff;
}

.box-profile {
  width: 100%;
  height: 165px;
  background-color: #c6a429;

  position: absolute;
  bottom: 0rem;
  opacity: 0.73;
  z-index: 2;
}

.professional {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  font-family: var(--font-subtitulo);
  letter-spacing: 0.15rem;
  z-index: 3;
}

.profile {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  font-family: var(--font-subtitulo);
  letter-spacing: 0.15rem;
  z-index: 3;
}

.bloco {
  position: absolute;
  top: 0.4rem;
  right: 6.5rem;
  
  /* top:10rem; */

  width: 45px;
  height: 10px;
  background-color: #ffffff;
  z-index: 3;
}

#banner {
  grid-area: banner;
  background-color: #484848;
  position: relative;
}

.nome {
  margin-top: 8rem;
  margin-left: 2rem;
  margin-bottom: 0px;
  padding: 0px;
  line-height: 2rem;
  font-family: var(--font-titulo);
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 0.25rem;
}

.sobrenome {
  margin-top: 0px;
  padding: 0px;
  margin-left: 2rem;
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 0.15rem;
  line-height: 3rem;
}

.developer {
  margin-top: 10px;
  margin-left: 2rem;
  font-family: var(--font-subtitulo);
  font-size: 0.8rem;
  color: #ffbc2f;
  background: #101012;
  text-align: center;
  padding: 1rem;
  letter-spacing: 0.14rem;
}

.description p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 10px black;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 3rem;
  font-family: var(--font-textbasic);
}

.box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 166px;
  background-color: #ffbc2f;
}

#contact {
  grid-area: contact;
  background-color: #242424;
}

.sessao-contact {
  width: 100%;       
  position: relative;
}

.sessao-contact h3 {
  font-family: var(--font-subtitulo);
  color: #ffbc2f;
  letter-spacing: 0.15rem;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  text-align: right;
  padding-right: 1rem;
  font-weight: 400;
}

.bloco-contact {
  width: 41px;
  height: 6px;
  background-color: #ffbc2f;

  position: absolute;

  top: 3.5rem;
  right: 1rem;
  margin-bottom: 2rem;
}

.bloco-contact-linha {
  display: flex;
  width: 350px;

  height: 3px;
  background-color: #ffbc2f;

  position: absolute;

  top: 3.6rem;
  left: 0;
}

.container-texto-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-texto {
  text-align: right;

  position: relative;
  right: 1rem;
  /* bottom:0rem;     */


}

.container-img {
  position: relative;
  right: 0rem;
  top: 1rem;

  width: 10%;
}

.sessao-contact img {
  
  /* width:70%; */
  padding-bottom: 29px;
}

.sessao-contact h4 {
  color: #ffffff;
  font-family: var(--font-textbasic);
  font-size: 0.9rem;
  margin-top: 1.5rem;

  font-size: 0.65rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.3rem;

  display: flex;
  flex-direction: column;
}

.sessao-contact p {
  color: var(--cor-titulos);
  font-family: var(--font-textbasic);
  font-size: 1rem;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#education {
  grid-area: education;
  background-color: #363636;
}

.sessao-education {
  width: 100%;
}

.container-education {
  margin-top: 4rem;
}

.sessao-education h3 {
  background-color: #ffbc2f;
  text-align: right;
  padding: 0.5rem 1rem;
  font-family: var(--font-titulo);
  letter-spacing: 0.15rem;
}

.sessao-education div {
  display: flex;
}

.sessao-education p {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  padding-top: 1rem;
  font-family: var(--font-textbasic);
}

.sessao-education img {
  width: 80px;
  height: 80px;
  padding-right: 1rem;
  padding-top: 1rem;
}

#skills {
  grid-area: skills;
  background-color: #242424;
  position: relative;
  margin-top: 0rem;
}

.skills-right {
  margin-left: 2rem;
}

.sessao-skills h3 {
  font-family: var(--font-subtitulo);
  color: #ffbc2f;
  letter-spacing: 0.15rem;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  text-align: right;
  padding-right: 1rem;
  font-weight: 400;
}

.container-skills {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  margin-left: 2.3rem;

  justify-content: center;
  /* margin-left: 1.5rem; */
  /* margin-top:-1rem; */
}

.sessao-skills p {
  color: #ffffff;
  font-size: 0.8rem;
  font-family: var(--font-textbasic);
  padding: 1rem;
  font-weight: 600;
}

.sessao-skills span {
  position: relative;
  color: #ffbc2f;
  font-size: 1.4rem;
  font-weight: 600;
}

.span {
  margin-left: 0rem;
  position: relative;
}

.html {
  position: absolute;
  left: 0;
  bottom: 14.3rem;
}

.css {
  position: absolute;
  left: -1rem;
  bottom: 11.3rem;
}

.js {
  position: absolute;
  left: -2rem;
  bottom: 8.3rem;
}

.wp {
  position: absolute;
  left: -3rem;
  bottom: 5.3rem;
}

.git {
  position: absolute;
  left: -4rem;
  bottom: 2.5rem;
}


.node { 
    position: absolute;
    left: -4.7rem;
    bottom: 17.4rem; 
 }


#experience {
  grid-area: experience;
  background-color: #303030;
}

#article {
  position: relative;
  display: grid;
  grid-template-areas:
    "left timeline right"
    "left timeline right"
    "left timeline right";

  grid-template-columns: 38vw 30px 38vw;
}

#article h2,
h3 {
  font-family: var(--font-tituloexperience);
}

#article h2 {
  font-size: 1rem;
}

#article h3 {
  font-size: 1rem;
}

#article p {
  font-size: 1rem;
  font-family: var(--font-textbasic);
}

.separador {
  width: 30vw;
  height: 0;
  margin: 1rem;
  border: 1px solid #000000;
}

.separador_left {
  width: 29vw;
  height: 0;
  margin: 1rem;
  border: 1px solid #000000;
}

.left {
  grid-area: left;
  padding: 1rem;
  transform: translatey(2rem);
}

.left h2 {
  text-align: right;
}

.left h3 {
  text-align: center;
}

.right {
  grid-area: right;
}

.right h2 {
  text-align: left;
}

.right h3 {
  text-align: center;
}

.timeline {
  position: relative;
  /* top: 5rem; */
  left: -9rem;
  width: 1000px;
  border: 1px solid black;
  transform: rotate(-90deg) translateX(-31rem) translateY(-22rem);
}

#teachers {
  grid-area: teachers;
}

.sessao-teachers {
  background-color: #363636;
  position: relative;
}

.sessao-teachers h3 {
  font-family: var(--font-subtitulo);
  color: #ffbc2f;
  letter-spacing: 0.15rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: right;
  padding-right: 1rem;
  font-weight: 400;
}

.sessao-teachers h4 {
  color: var(--cor-titulos);
  font-family: var(--font-textbasic);
  margin: 0rem 2rem 1rem 1rem;
  text-align: center;
}

.sessao-teachers ul li {
  color: #ffffff;
  font-family: var(--font-textbasic);
  margin: 0rem 2rem 1rem 1rem;
}

.sessao-teachers ul {
  margin-left: 8rem;
}

/* 
.bloco-experience{
    width:251px;
    height:6px;
    background-color:#FFF;
    margin-left: 2rem;
    margin-bottom: 2rem;    
}     */
/*  
/* .bloco-experience-linha{ 
    height:3px;
    background-color:#FFF;
    margin-top:-44px; 
    margin-left:2rem;
} */
.sessao-experience {
  width: 100%;
}

.sessao-experience h2 {
  color: var(--cor-data);
  margin: 1rem;
}

.sessao-experience h3 {
  color: var(--cor-titulos);
  padding: 0.3rem;
}

.sessao-experience h4 {
  font-family: var(--font-subtitulo);
  color: #ffffff;
  letter-spacing: 0.3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 5px;
}

.sessao-experience p {
  color: var(--cor-texto);
  text-align: justify;
  padding: 0.5rem;
  padding: 1rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.sessao-qualificacoes p {
  color: var(--cor-texto);
  text-align: justify;
  padding: 0.5rem;
  line-height: 1.3rem;
  font-size: 1rem;
  font-family: var(--font-textbasic);
  margin: 1rem;
}

.sessao-infoAdicionais p {
  color: var(--cor-texto);
  text-align: justify;
  padding: 0.5rem;
  line-height: 1.3rem;
  font-size: 1rem;
  font-family: var(--font-textbasic);
  margin: 1rem;
}

#footer {
  grid-area: footer;
  background-color: #262626;
}

footer {
  position: relative;
  padding-top: 1rem;
  width: 100vw;
  height: 4rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  font-family: var(--font-textbasic);
  color: #a7a7a7;
  font-size: 0.8rem;
}

.social-list a {
  margin: 1rem 1rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

.social-list ul {
  display: flex;
  list-style-type: none;
}
