@import url('https://fonts.googleapis.com/css2?family=Basic&family=Cutive&family=DM+Serif+Text&family=Days+One&display=swap');




*{
    margin: 0;
    padding: 0;   

}

:root{
    --font-titulo: 'DM Serif Text', serif;
    --font-subtitulo: 'Days One', sans-serif;
    --font-textbasic: 'Basic', sans-serif;
    --font-tituloexperience: 'Cutive', serif; 

}

html{
    max-width: 1200px;
    margin:auto;
}

body{
    background-color:#C3C3C3 ;
    
}





#header{
    display:flex;    
    position: relative;    
} 
   


.img-wrapper img{
    width:335px;
    height:458px;   
    position: relative; 
    z-index: 1;

}



.img-wrapper p {
    position: relative;	
    color: #FFFFFF;
}


.box-profile{
 width: 335px;
 height:166px;
 background-color: #C6A429;

 position: absolute;

 bottom: 0.2rem;
 opacity: .73;
 
 z-index:2 ;


}




.professional{
    position:absolute;
    bottom: 2rem;
    right: 1rem;        
    font-family: var(--font-subtitulo);
    letter-spacing: .15rem; 
    z-index: 3;

}

.profile{
    position: absolute;
    bottom:1rem;
    right:1rem;
    
    font-family: var(--font-subtitulo);
    letter-spacing: .15rem; 
    z-index: 3;

}

.bloco{
    width:48px;
    height:13px;
    background-color:#FFFFFF;

    position: absolute;
    bottom: 1.33rem;
    left: 139px;
    z-index: 3;
}


.banner{
    background: #484848;
    width:683px ;
    height:317px ;
    
}

.nome{
    margin-top: 62px;
    margin-left:2rem;
    margin-bottom: 0px;
    padding:0px;
    line-height:2rem;

    font-family: var(--font-titulo); 
    font-size:2.5rem ; 
    color: #FFFFFF;  
    letter-spacing: .15rem; 
    
}

.sobrenome{
    margin-top:0px;
    padding:0px;
    margin-left: 2rem;
    font-size:2.5rem;
    color: #FFFFFF;
    letter-spacing: .14rem; 
    line-height: 3rem;
}

.developer{   
    margin-top: 10px;
    margin-left: 2rem; 
    /* margin-bottom: 50px; */
    font-family: var(--font-subtitulo);
    font-size:0.8rem;
    color: #FFBC2F;
    background: #101012;
    text-align: center;
    padding: 1rem;
    letter-spacing: .14rem;    

}

.description p{   
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 1rem; 
    margin-left: 2rem; 
    padding:1rem;

      
    
}

.box{
    position:relative;
    bottom: -41px;
    width:683px;
    height:166px;
    background-color: #FFBC2F;
    margin-top: 1rem;
    
}



.sessao-contact{
    background-color: #242424;
    width: 335px;
    height: 465px;
    margin-top: -5px; 
       

}

.sessao-contact h3{
    font-family: var(--font-subtitulo);
    color: #FFBC2F;
    letter-spacing: .15rem;
    font-size: 19px;
    padding-top:2rem;
    padding-bottom: .3rem;
    text-align: right;
    padding-right: 1rem;
    font-weight: 400;
}

.bloco-contact{
    width:41px;
    height:6px;
    background-color:#FFBC2F;
    position: relative;
    left:13.5rem;
    margin-bottom: 2rem;
    
}

.bloco-contact-linha{
    width:311px;
    height:3px;
    background-color:#FFBC2F;
   
    position: relative;
    top:-44px;
    left:0;
    margin-bottom: 0rem;
}

.container-texto-img{
    position:relative;
    top:-2rem;
}



.container-texto{
    text-align: right;
    position: relative;    
    right:5rem ;

}



.container-img{
    position: relative;
    left: 262px;    
    bottom:16rem;
}


.sessao-contact h4{
    color: #FFFFFF;
    font-family: var(--font-textbasic);
    font-size:0.8rem;  
    margin-top:1.5rem;  
    
}
.sessao-contact p{
    color: #FFFFFF;
    font-family: var(--font-textbasic);
    font-size: 0.8rem;
    
    
}

 .sessao-contact img{
    display: flex;
    padding-bottom:20px;
    
} 




.sessao-education {
    background-color: #363636;
    width: 335px;
    height: 300px;
    margin-top: -5px; 

   

}

.container-education{
    display: flex;
    justify-content: center;
    align-content: center;
}



.sessao-education h3{
background-color: #FFBC2F;
text-align: right;
padding: .5rem 1rem; 
}

.sessao-education div{
    display: flex;
     

}

.sessao-education p{
    color:#FFFFFF;
    font-size: .8rem;
    padding: .5rem;
    text-align: center;
    padding-top:1rem;


}

.sessao-education img{
    padding-right: 1rem;
    padding-top:1rem;
}




.sessao-skills{
    background-color: #242424;
    width: 335px;
    height: 465px;    

}


.sessao-skills h3{
    font-family: var(--font-subtitulo);
    color: #FFBC2F;
    letter-spacing: .15rem;
    font-size: 19px;
    padding-top:2rem;
    padding-bottom: .3rem;
    text-align: right;
    padding-right: 1rem;
    font-weight: 400;
}


.container-skills{
    display:flex;
        
    justify-content: center;
    margin-left: 1.5rem;
    margin-top:-1rem;
}

.sessao-skills p{
    color: #FFFFFF;
    font-size: .8rem;
    font-family: var(--font-textbasic);
    padding: 1rem;
    font-weight: 600;

}


.sessao-skills span{
    color: #FFBC2F;
    font-size: 1.4rem;
    padding:14px;
    font-weight: 600;

}

.skills-left span{
    display:flex;  
    position: relative;
    bottom:15rem;
    margin-left: -1rem;
}

.skills-right span{
    display:flex;    
    position: relative;
    bottom:15rem;
    margin-left: -1rem;
    
}

.skills-right{
    margin-left: 1.5rem;
}